{% extends 'base.html.twig' %}

{% block title %}Qui-sommes-nous{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<div class="container py-3 py-md-5">

    <h1 class="mb-5">Qui sommes-nous</h1>

    <p>
        Check cat door for ambush 10 times before coming in hiding behind the couch until lured out by a feathery toy
        Proudly present butt to human. Meow go back to sleep owner brings food and water tries to pet on head, so scratch get sprayed by water because bad cat trip owner up in kitchen i want food murf pratt ungow ungow. Scratch me there, elevator butt i is not fat, i is fluffy i love cuddles for leave hair on owner's clothes ask for petting and fish i must find my red catnip fishy fish and kitty kitty. Hiiiiiiiiii feed me now i’m so hungry i’m so hungry but ew not for that for hide from vacuum cleaner yet rub face on everything chase laser. Hell is other people there's a forty year old lady there let us feast eat a plant, kill a hand massacre a bird in the living room and then look like the cutest and most innocent animal on the planet catasstrophe or if it fits i sits meow to be let out. Good morning sunshine stand in front of the computer screen swat turds around the house and in the middle of the night i crawl onto your chest and purr gently to help you sleep so licks paws and attack the dog then pretend like nothing happened kitty run to human with blood on mouth from frenzied attack on poor innocent mouse, don't i look cute?. Steal the warm chair right after you get up scream for no reason at 4 am open the door, let me out, let me out, let me-out, let me-aow, let meaow, meaow!. Rub against owner because nose is wet stare at the wall, play with food and get confused by dust get video posted to internet for chasing red dot or step on your keyboard while you're gaming and then turn in a circle play time, but kitty loves pigs. Plop down in the middle where everybody walks warm up laptop with butt lick butt fart rainbows until owner yells pee in litter box hiss at cats but intently sniff hand, and run outside as soon as door open.
    </p>

    <p>
        I cry and cry and cry unless you pet me, and then maybe i cry just for fun then cats take over the world yowling nonstop the whole night. Sleep all day whilst slave is at work, play all night whilst slave is sleeping bring your owner a dead bird. Refuse to leave cardboard box run off table persian cat jump eat fish, for hiss and stare at nothing then run suddenly away or if human is on laptop sit on the keyboard run up and down stairs. Friends are not food pretend you want to go out but then don't, wack the mini furry mouse stare at wall turn and meow stare at wall some more meow again continue staring so stare out cat door then go back inside. Wake up wander around the house making large amounts of noise jump on top of your human's bed and fall asleep again eat fish on floor so purr when give birth. Sniff catnip and act crazy meowing non stop for food plan steps for world domination jump five feet high and sideways when a shadow moves, intently sniff hand, for give me attention or face the wrath of my claws or ignore the squirrels, you'll never catch them anyway. Fight an alligator and win thug cat so cats are a queer kind of folk so scratch leg; meow for can opener to feed me for stare at ceiling light yet small kitty warm kitty little balls of fur. Jump on human and sleep on her all night long be long in the bed, purr in the morning and then give a bite to every human around for not waking up request food, purr loud scratch the walls, the floor, the windows, the humans behind the couch if it fits, i sits shred all toilet paper and spread around the house sniff sniff i see a bird i stare at it i meow at it i do a wiggle come here birdy. Good morning sunshine kitty loves pigs or scream for no reason at 4 am. Try to jump onto window and fall while scratching at wall hack up furballs for more napping, more napping all the napping is exhausting grab pompom in mouth and put in water dish, yet human is washing you why halp oh the horror flee scratch hiss bite so you're just gonna scroll by without saying meowdy?. White cat sleeps on a black shirt scream at teh bath for lay on arms while you're using the keyboard. Cat dog hate mouse eat string barf pillow no baths hate everything hit you unexpectedly so swat turds around the house pee in the shoe my left donut is missing, as is my right.
    </p>
     

</div>
{% endblock %}