/** colors */
body
  {
    font-family: 'Open Sans', sans-serif !important;
  }
.red-darken-1
{
  background-color: #e53935 !important;
}

.red-darken-2
{
  background-color: #d32f2f;
}

.red-darken-3
{
  background-color: #c62828 !important;
}

.red-darken-4 
{
  background-color: #b71c1c;
}

.gray-nav {
  background-color: #212529;
}

.navbar.navbar-expand-lg.navbar-dark
{
  height: 100px;
}

.navbar-dark .navbar-nav .nav-link
{
  color: rgba(255,255,255,1);
  font-size: 1.25rem;
}

.navbar-brand img.mobile {
  display: none;
}

.dropdown-menu
{
  background-color: #212529;
}

.dropdown-menu .dropdown-item {
  color: white;
  font-size: 1.25rem;
}

.dropdown-menu .dropdown-item:hover {
  background-color: gray;
}

#navbarNavDropdown
{
  background-color: #212529;
  padding-left: 20px;
  z-index: 100;
}

.bordure
{
  width: 100%;
  height: 8px;
  background: #e53935;
  margin-bottom: 3rem;
}

.carousel-inner .carousel-item img
{
  max-height: 750px;
}

.featurette-divider 
{
  margin: 5rem 0;
  border-bottom: 2px solid lightgrey;
}

.page-footer 
{
  background-color: #c62828;
  color: white;
}

.page-footer a 
{
  color: white;
}

.orange-text 
{
  color: #ff9800;
}










@media (max-width: 767.98px) { 

  .navbar-brand img.mobile {
    display: block;
  }

  .navbar-brand img.desktop {
    display: none;
  }

}




/* @media only screen and (min-width:769px) {
    .dropdown:hover .dropdown-menu {
      display: block;
    }
    .dropdown-submenu {
      position: relative !important;
    }
    .dropdown-submenu>.dropdown-menu {
      top: 0 !important;
      left: 100% !important;
      margin-top: -6px !important;
      margin-left: -1px !important;
      border-radius: 0 !important;
    }
    .dropdown-submenu:hover>.dropdown-menu {
      display: block !important;
    }
    .dropdown-submenu>a:after {
      display: block;
      content: "\f105";
      font-family: 'FontAwesome';
      margin-top: -18px;
      right: 15px;
      position: absolute;
      font-weight: 300;
    }
  } */