{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

    
    <h1> Cette page présente tout les articles catégorie exercices ,  nutrition et idées reçues </h1>

    {{dump(articles)}}

{% endblock %}
