{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

    <h1>Hello {{ controller_name }}! ✅</h1>
    <h1> Cette page présente tout les articles catégorie exercices ,  nutrition et idées reçues </h1>
{% endblock %}
