{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

    <h1> Cette page présente tout les articles des idées recues sur le sport , sur la nutrition ou une pratique répandue</h1>

    {{dump(articles)}}
    
{% endblock %}