{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<h1> Cette page présente tout les articles d'entraînement </h1>
<div class="container">

  <div class="row p-3 mb-4">
  {% for article in articles %}
  
  <div class="card col-12 col-md-4 ml-md-5 mb-5" style="width: 18rem;">
    <img src="{{ asset('uploads/' ~ article.image) }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ article.title }}</h5>
      <p class="card-text">{{ article.description | slice(0,20) }}</p>
      <a href="{{ path('show_article', {'id':article.id}) }}" class="btn btn-primary">Lire la suite ...</a>
    </div>
  </div>
  
  {% endfor %}
  </div>
</div>
    

{% endblock %}