{% extends 'base.html.twig' %}

{% block title %} Objectif garder la form {% endblock %}

{% block body %}

<h1>Cette page affiche les programmes pour garder la forme</h1>

{{ dump(trainings) }}

{% endblock %}