{% extends 'base.html.twig' %}

{% block title %} Objectif garder la forme {% endblock %}

{% block stylesheets %}
  <style>
    .img-fluid {
      height: 500px;
      width: 750px;
    }
  </style>
{% endblock %}

{% block body %}
<div class="container py-5">
<h1 class="text-center mt-4">Nos programmes d'entraînement pour garder la forme</h1>


{% for train in trainings %}
    <!-- Portfolio Item Heading -->
    <h2 class="my-5">{{ train.name }}</h2>
    
    <!-- Portfolio Item Row -->
    <div class="row pb-5">
    
        <div class="col-md-8">
        <img class="img-fluid" src="{{ asset('uploads/' ~ train.image) }}" alt="">
        </div>
    
        <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p>{{ train.description |slice(0,100) }}</p>
        <h3 class="my-3">Details</h3>
        <ul>
            <li>Un programme personnalisé et adapté</li>
            <li>Perdre du gras et tonifier des muscles</li>
            <li>Bénéficiez de l’expertise d’un coach diplômé d’état</li>
        </ul>
        <a href="{{ path('purchase' , {'idTraining' : train.id} ) }}" class="btn btn-danger">S'abonner</a>
        </div>
    
    </div>
    {% endfor %}

</div>

{% endblock %}