{% extends 'base.html.twig' %}

{% block title %} Objectif prise de muscle {% endblock %}

{% block body %}

<h1>Cette page affiche les programmes pour prendre du muscle.</h1>



<div class="row ml-2">
{% for train in trainings %}
<div class="col-4 mb-4">
    <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="{{ asset('uploads/' ~ train.image) }}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">{{ train.name }}</h4>
            <p class="card-text">{{ train.description |slice(0,30) }}...</p>
            <a href="{{ path('purchase' , {'idTraining' : train.id} ) }}" class="btn btn-primary">S'abonner</a>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}