{% extends 'base.html.twig' %}

{% block title %} Objectif prise de muscle {% endblock %}

{% block body %}

<h1>Cette page affiche les programmes pour prendre du muscle.</h1>

{{ dump(trainings) }}

{% endblock %}