{% extends 'base.html.twig' %}

{% block title %}Tout les programmes {% endblock %}

{% block body %}

<div class="container">

<div class="card-deck mt-5">
{% for train in trainings %}
<div class="col-3 mb-5">
    <div class="card">
        <img class="card-img-top" src="{{ asset('uploads/' ~ train.image) }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ train.name }}</h5>
            <p class="card-text">{{ train.description |slice(0,30) }}...</p>
        </div>
    </div>
</div>  
{% endfor %}
</div>

</div>

{% endblock %}
