{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block body %}



   

    <h1> Page qui affiche les 3 plan d'entrainements </h1>
   
    {{ dump(trainings) }}
   

{% endblock %}
