{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block body %}



    <h1>Hello {{ controller_name }}! ✅</h1>

    <h1> Page qui affiche les 3 plan d'entrainements </h1>
   
    <p>Your template at templates/training/training_programs.html.twig</p>
   

{% endblock %}
