{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="container">
<h1 class="my-3 my-sm-5">Formulaire d'inscription </h1>
{{ form_start(userForm) }}

    

{{ form_end(userForm) }}
</div>
{% endblock %}

{% block javascripts %}
<script>
    //$("#{{ userForm.username.vars.id }}").attr("type","number");
</script>
{% endblock %}