{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="container">
<h1 class="mt-5"> page affichant le formulaire d'inscription </h1>
{{ form_start(userForm) }}


{{ form_end(userForm) }}
</div>
{% endblock %}